name: nix
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - name: Install Cache
      uses: DeterminateSystems/magic-nix-cache-action@v1
    - run: nix flake check
    - name: lint formatting
      run: |
        nix develop --command nixpkgs-fmt --check *.nix
        if ! git diff-index --quiet HEAD --; then
          echo "nixpkgs-fmt had changes"
          exit 1
        fi
    # flakes
    - run: nix develop --command which go
    - run: nix build . && ./result/bin/nix-search --help
    - run: nix build .#nix-search && ./result/bin/nix-search --help
    - run: nix run . -- --help
    - run: nix run .#nix-search -- --help
    # standard
    - run: nix-shell --run 'which go'
    - run: nix-build && ./result/bin/nix-search --help
