name: release
on:
  push:
    branches:
      - main
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup-go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
        cache: true
        cache-dependency-path: go.sum
    - run: |
        GOOS=darwin GOARCH=amd64 go build -o ./bin/nix-search-darwin-amd64 ./cmd/nix-search
        GOOS=darwin GOARCH=arm64 go build -o ./bin/nix-search-darwin-arm64 ./cmd/nix-search
        GOOS=linux GOARCH=arm64 go build -o ./bin/nix-search-linux-arm64 ./cmd/nix-search
        GOOS=linux GOARCH=amd64 go build -o ./bin/nix-search-linux-amd64 ./cmd/nix-search
    - run: |
        commit_sha="$(git rev-parse --short HEAD)"
        timestamp="$(date +%s)"
        release_name="release-$timestamp-$commit_sha"
        token=${{ secrets.GITHUB_TOKEN }}
        # https://docs.github.com/en/rest/releases/releases#create-a-release
        # https://stackoverflow.com/questions/45240336/how-to-use-github-release-api-to-make-a-release-without-source-code
        upload_url=$(curl -s -H "Authorization: token $token" \
          -d "{\"tag_name\": \"$release_name\", \"name\":\"$release_name\",\"target_comitish\": \"$commit_sha\"}" \
          "https://api.github.com/repos/peterldowns/nix-search-cli/releases" | jq -r '.upload_url')
        upload_url="${upload_url%\{*}"
        curl -s -H "Authorization: token $token" \
          -H "Content-Type: application/octet-stream" \
          --data-binary @bin/nix-search-darwin-amd64 \
          "$upload_url?name=nix-search-darwin-amd64&label=nix-search-darwin-amd64"
        curl -s -H "Authorization: token $token" \
          -H "Content-Type: application/octet-stream" \
          --data-binary @bin/nix-search-darwin-arm64 \
          "$upload_url?name=nix-search-darwin-arm64&label=nix-search-darwin-amd64"
        curl -s -H "Authorization: token $token" \
          -H "Content-Type: application/octet-stream" \
          --data-binary @bin/nix-search-linux-arm64 \
          "$upload_url?name=nix-search-linux-arm64&label=nix-search-linux-arm64"
        curl -s -H "Authorization: token $token" \
          -H "Content-Type: application/octet-stream" \
          --data-binary @bin/nix-search-linux-amd64 \
          "$upload_url?name=nix-search-linux-amd64&label=nix-search-linux-amd64"
